global:
   
   scrape_interval:     15s
   evaluation_interval: 15s
   external_labels:
           monitor: 'codelab-monitor'

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'graphana'
    scrape_interval: 5s
    static_configs:
      - targets: ['192.168.50.146:3000']

   # Exportateurs : serveurs clients
  - job_name: 'blackbox'
    metrics_path: /probe
    params:
        module: [http_2xx] #Config de base qui marche
            # module: [icmp_ipv4] #configuration prenant en compte ICMP
    static_configs:
      - targets:
        - 192.168.50.146
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 192.168.50.146:9115  # The blackbox exporter's real hostname:port


